<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Surevey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card bg-dark text-light mt-5">
            <h1 class="card-header" style="text-align: center;">Dojo Survey</h1>
            <div class="card-body">
                <h3>Hi, please fill out our survey!</h3>
                <form action='/survey' method='post'>
                    <!-- name input -->
                    <div class="mb-3">
                        <label for='name'>Name:</label>
                        <input class="form-control" type='text' name='name'>
                    </div>
                    <!-- dojo location -->
                    <div class="mb-3">
                        <label for='dojo_location'>Dojo Location:</label>
                        <select class="form-select" name="dojo_location" id="dropdown">
                            <option value="SelectLanguage">-- Select A Location --</option>
                            <option value="Chicago">Chicago</option>
                            <option value="SanJose">San Jose</option>
                            <option value="Seattle">Seattle</option>
                            <option value="Online">Online</option>
                        </select>
                    </div>
                    <!-- Favorite language input -->
                    <div class="mb-3">
                        <label for='fav_language'>Favorite Language:</label>
                        <select class="form-select" name="fav_language" id="dropdown">
                            <option value="SelectLanguage">-- Select A Language --</option>
                            <option value="Chicago">Chicago</option>
                            <option value="Python">Python</option>
                            <option value="CSS">CSS</option>
                            <option value="HTML">HTML</option>
                            <option value="JavaScript">JavaScript</option>
                            <option value="C#">C#</option>
                        </select>
                    </div>
                    <!-- comment section -->
                    <div class="mb-3">
                        <label for='comment'>Comment (optional):</label>
                        <textarea name="comment" id="comment" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary">Submit Survey</button>
                </form>
            </div>
        </div>
    </div>


</body>
</html>